# Python
__pycache__/
*.py[cod]
*.log

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3

# Environment variables / secrets
.env

# Node / React
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db